@using Kanban.Models
@model List<Atividade>

@{
    var viewBagErro = ViewBag.Erros;
    List<Status> status = ViewBag.Status;
}

<ul style="text-align:center; margin-top: 30px; margin-bottom: 30px" class="nav nav-tabs">
    @foreach (Status item in status)
    {
        <li class="nav-item">
            @Html.ActionLink(item.DescricaoStatus, "Index", "Home", new { id = item.IDStatus }, new { @class = "nav-link" })

        </li>
    }
</ul>

<h1>@viewBagErro</h1>

<div>
    <table class="table table-hover table-striped" style="margin-top:30px">
        <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Requisito</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach(Atividade atividadeCadastrado in Model)
        {
        <tr>
            <td> @atividadeCadastrado.IDAtividade</td>
            <td> @atividadeCadastrado.TituloAtividade</td>
            <td> @atividadeCadastrado.DescricaoAtividade</td>
            @if (atividadeCadastrado.RequisitoAtividade == 0)
            {
                <td></td>
            }
            else
            {
                <td> @atividadeCadastrado.RequisitoAtividade</td>
            }
            <td> @atividadeCadastrado.Status.DescricaoStatus</td>
            <td>
                @Html.ActionLink("Voltar P/ Etapa Anterior", "EtapaAnterior", "Home",
                      new { id = atividadeCadastrado.IDAtividade }, null)
            </td>
            <td>
                @Html.ActionLink("Enviar P/ Próxima Etapa", "ProximaEtapa", "Home",
                      new { id = atividadeCadastrado.IDAtividade }, null)
            </td>
            <td>
                @Html.ActionLink("Excluir Atividade", "ExcluirAtividade", "Home",
                      new { id = atividadeCadastrado.IDAtividade }, null)
            </td>
        </tr>
        }
</table>
</div>